@import "~bootstrap/scss/bootstrap";

@include media-breakpoint-up(_) {
      .chennals-left {
        display: none;
      }
      .hdr {
        display: none;
      }
      .chennals-top {
        display: block;
      }
};

@include media-breakpoint-up(lg) {
    .chennals-left {
        display: block;
      }
      .chennals-top {
        display: none;
      }
      .hdr {
        display: block;
      }
};


.form-floating>label {
  position: absolute;
  top: 0;
  left: 0;
}

.br {
  border-radius: 0.8rem;
}

.invalid-tooltip-custom {
  position: absolute;
  left: 100px;
  z-index: 5;
  max-width: 100%;
  padding: .25rem .5rem;
  margin-top: .1rem;
  font-size: .875rem;
  color: #fff;
  background-color: rgba(220,53,69,0.9);
  border-radius: .25rem;
}

.message-left {
  border-radius: 0px 20px 20px 20px;
  padding: 15px;
  margin: 5px;
  color: white;
  background: rgb(152, 81, 245);
  min-height: 50px;
  min-width: 100px;
}

.message-right {
  border-radius: 20px 0px 20px 20px;
  padding: 15px;
  margin: 5px;
  color: white;
  background: rgb(34, 180, 144);
  min-height: 50px;
  min-width: 100px;
}